---
# Grab correct vars from either vars/OS or defaults
- include_vars: "{{ item }}"
  with_first_found:
   - "../vars/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yml"
   - "../vars/{{ ansible_distribution }}.yml"
   - "../vars/{{ ansible_os_family }}.yml"
   - "../vars/default.yml"
   - "../defaults/main.yml"

- name: Insert sshd_config
  template: src={{sshd_config_file}}
            dest=/etc/ssh/sshd_config
            owner=root
            group=root
            mode=0600
  notify:
   - gen ssh keys
   - restart ssh

- name: Attempt to remove pub key from local known_hosts
  local_action: command  ssh-keygen -f "$HOME/.ssh/known_hosts" -R hostname
  sudo: no
